<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.appsdk.sample.device.config">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application>
        <activity android:name=".ble.DeviceConfigBleAndDualActivity" />
        <activity android:name=".mesh.configByApp.SubConfigAppActivity" />
        <activity android:name=".mesh.configByGateway.SubConfigGatewayActivity" />
        <activity
            android:name=".ap.DeviceConfigAPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ez.DeviceConfigEZActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zigbee.gateway.DeviceConfigZbGatewayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zigbee.sub.DeviceConfigZbSubDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zigbee.sub.DeviceConfigChooseZbGatewayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scan.DeviceConfigQrCodeDeviceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mesh.DeviceConfigMeshActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tuya.appsdk.sample.device.config.qrcode.QrCodeConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tuya.appsdk.sample.device.config.tylink.TyLinkConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>