<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.appsdk.sample.device.mgt">

    <application>
        <activity
            android:name=".list.activity.DeviceMgtListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".control.activity.DeviceMgtControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".list.activity.DeviceSubZigbeeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".group.GroupCreateActivity"
            android:exported="false" />
        <activity android:name=".group.GroupControlActivity"
            android:exported="false"/>
        <activity android:name=".group.GroupListActivity"
            android:exported="false"/>
        <activity android:name=".group.GroupDeviceListActivity"
            android:launchMode="singleTask"
            android:exported="false"/>
    </application>
</manifest>