<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thing.smart.sweeper">
    <application>
        <activity
            android:screenOrientation="portrait"
            android:name=".SweeperActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".P2pConnectActivity" />
    </application>
</manifest>